
.cart-block
{
	display: flex;
	flex-flow: row wrap;
}

.cart-block > .items
{
	display: flex;
	flex-flow: column nowrap;

	width: 77%;
}

.product
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;

	margin-bottom: 25px;

	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}

.product > .product-image
{
	width: 150px;
	height: 150px;
	margin-right: 25px;
}

.product > .product-info
{
	display: flex;
	flex-flow: column;

	padding: 20px;
}

.product > .product-info > .product-name
{
	font-size: 20px;

	margin-bottom: 30px;
}

.product > .product-info > .product-detail
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.product > .product-info > .product-detail p, .product > .product-info > .product-detail a, .product > .product-info > .product-detail p a
{
	display: inline-block;

	margin: 0 5px;

	text-align: center;

	color: #9D9A9A;
}

.product > .product-info > .product-detail p a
{
	color: #E31E25;
}

.product > .product-price
{
	font-size: 50px;
	font-weight: bold;
	line-height: 59px;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 20px 35px;
}

.product > .product-count
{
	font-size: 29px;

	width: 100px;
	height: 40px;

	text-align: center;
}

.product > .fav-button
{
	margin: 20px 25px;

	cursor: pointer;
	transition: 0.3s all;
}

.product > .fav-button img
{
	width: 25px;
	height: 25px;
}

.product > .fav-button:hover
{
	filter: grayscale(1);
}

.cart-block > .act
{
	align-self: flex-start;
	flex-grow: 1;

	margin-left: 25px;
	padding: 20px;

	background: #9D9A9A;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
}

.cart-block > .act hr
{
	margin: 15px 0;
}

.cart-block > .act p
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;

	color: #FFFFFF;
}

.act > .act-tovari, .act > .act-skidka, .act > .act-dostavka
{
	font-size: 18px;

	margin-bottom: 15px;
}

.cart-block > .act span
{
	font-size: 25px;

	margin-left: auto;

	text-align: right;
}

.cart-block > .act span::after
{
	content: " р.";
}

.act > .act-skidka > span::before
{
	content: " - ";
}

.act > .order-button
{
	font-size: 17px;
	font-weight: bold;

	width: 100%;
	padding: 13px 5px;

	cursor: pointer;
	transition: 0.3s all;

	color: #E31E24;
	border: 0;
	background-color: #FFFFFF;
}

.act > .order-button:hover
{
	color: #FFFFFF;
	background-color: #E31E24;
}

.pay-type
{
	margin-top: 25px;
}

.pay-type .container p
{
	font-size: 20px;

	margin-left: 0;

	color: #8B8787;
}

.cart-block .delivery .delivery-type
{
	display: flex;
	flex-flow: row nowrap;

	width: 100%;
	margin-top: 30px;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.cart-block .delivery .delivery-type p
{
	font-size: 18px;

	flex-grow: 1;

	padding: 15px;

	cursor: pointer;
	text-align: center;
	text-transform: uppercase;

	color: #FF0008;
	background-color: #FFFFFF;
}

.cart-block .delivery .delivery-type p.active
{
	color: #FFFFFF;
	background-color: #FF0008;
}

.delivery .address
{
	font-size: 20px;
	margin-bottom: 20px;
	display: inline-block;

	color: #000000;
}

.delivery > .delivery-cost
{
	font-size: 25px;
	font-weight: bold;
	line-height: 29px;

	margin-top: 25px;

	color: #E31E24;
}

.delivery > .delivery-cost::after
{
	content: " р.";
}

.delivery .deliv-inf
{
	display: flex;
	align-items: flex-start;
	flex-flow: column nowrap;
	justify-content: space-between;

	margin-top: 50px;
}

.delivery .deliv-inf input
{
	height: 40px;
    margin: 15px;
    padding: 5px 15px;
    border: 0;
    border-bottom: 1px rgb(208, 208, 208) solid;
}

.delivery .deliv-inf label, .delivery .deliv-inf label input
{
	width: 100%;
}
.delivery .deliv-inf label > .place_holder
{
	bottom: 25px;
    left: 15px;
}

.delivery .deliv-inf label > p
{
    justify-content: center;
    align-items: center;
	display: flex;
	flex-flow: row nowrap;
    text-transform: uppercase;
    color: #9D9A9A;
    font-weight: bold;
}


.delivery .change-address
{
	font-weight: bold;

	margin-left: 15px;
	padding: 15px 25px;

	cursor: pointer;
	transition: 0.3s all;

	color: #FF0008;
	border: 2px solid #FF0008;
	background: #FFFFFF;
}

.delivery .change-address:hover
{
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	background: #FF0008;
}

.delivery > .info
{
	font-size: 20px;
	font-weight: bold;
	line-height: 23px;

	margin-top: 50px;

	color: #000000;
}

@media screen and (max-width: 1200px)
{
	.cart-block > .items
	{
		width: 100%;
	}
	.cart-block > .act
	{
		margin-left: 0;
	}
}

@media screen and (max-width: 1000px)
{
	.product
	{
		flex-flow: row wrap;
	}
	.product > .product-count
	{
		margin: 15px;
		margin-left: auto;
	}
}

@media screen and (max-width: 900px)
{
	.delivery .deliv-inf
	{
		flex-flow: column wrap;
	}
	.delivery .change-address
	{
		margin: 10px;
		margin-left: 0;
	}
}

@media screen and (max-width: 700px)
{
	.product
	{
		justify-content: center;
	}
	.product > .product-info > .product-name
	{
		text-align: center;
	}
	.product-count
	{
		order: 99;
	}
	.sliders p, .sliders a
	{
		flex-grow: 1;

		margin-right: 0;
	}
	.product > .product-price
	{
		width: 100%;
	}
	h2
	{
		text-align: center;
	}
	.pay-type
	{
		padding-left: 25px;
	}
	.delivery
	{
		text-align: center;
	}
	.delivery > .delivery-cost
	{
		font-size: 18px;
	}
}


@media screen and (max-width: 470px)
{
	.product > .product-info > .product-detail
	{
		flex-flow: column wrap;
	}
}

.products
{
	width: 100%;
}
