.catalog_two
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column wrap;
	    flex-flow: column wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
}

.catalog_two > .cat
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}

.catalog_two > .cat p
{
	font-weight: bold;
}

.catalog_two > h2
{
	font-size: 17px;
	line-height: 20px;

	margin: 25px 0;

	text-transform: uppercase;
}

.catalog_two > .cat_fold p
{
	font-size: 14px;
	line-height: 16px;

	display: inline-block;
}

.catalog_two > .cat_fold p span
{
	color: #E31E24;
}

.catalog_two > .catalog_list
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}
.catalog_two > .catalog_list > .catalog
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;

	width: 350px;
	margin: 25px 15px;
}

.catalog_two > .catalog_list > .catalog .cat p
{
	font-weight: bold;

	color: #E31E24;
}

.catalog_two > .catalog_list > .catalog .cat a
{
	-webkit-transition: 0.3s all;
	        transition: 0.3s all;

	color: #000000;
}

.catalog_two > .catalog_list > .catalog .cat a:hover
{
	color: #E31E24;
}

.catalog_two > .catalog_list > .catalog .cat p
{
	margin-bottom: 25px;
}

.catalog_two > .catalog_list > .catalog .cat a
{
	margin: 15px 0;
}

.catalog_two > .catalog_list > .catalog .cat p, .catalog_two > .catalog_list > .catalog .cat a
{
	margin-left: 25px;

	text-transform: uppercase;
}

.catalog_two > .catalog_list > .catalog img
{
	width: 60px;
	height: 60px;
}

@media screen and (max-width: 750px)
{
	.catalog_two > .catalog_list
	{
		-ms-flex-flow: column wrap;
		    flex-flow: column wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.catalog_two > .catalog_list > .catalog
	{
		-webkit-box-align: center;
		align-items: center;
		-ms-flex-align: center;
		-ms-flex-flow: column wrap;
		    flex-flow: column wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;

		width: auto;
	}
	.catalog_two > h2
	{
		text-align: center;
	}
	.catalog_two > .cat_fold
	{
		text-align: center;
	}
	.catalog_two > .catalog_list > .catalog .cat p, .catalog_two > .catalog_list > .catalog .cat a
	{
		margin-left: 0;

		text-align: center;
	}
}
