.catalog_two
{
	display: flex;
	flex-flow: column wrap;
}

.catalog_two > .cat
{
	display: flex;
	flex-flow: row nowrap;
}

.catalog_two > .cat p
{
	font-weight: bold;
}

.catalog_two > h2
{
    margin: 25px 0;
	font-size: 17px;
	line-height: 20px;

	text-transform: uppercase;
}

.catalog_two > .cat_fold p
{
	font-size: 14px;
	line-height: 16px;

	display: inline-block;
}

.catalog_two > .cat_fold p span
{
	color: #E31E24;
}

.catalog_two > .catalog_list
{
    
    display: flex;
    flex-flow: row wrap;
}
.catalog_two > .catalog_list > .catalog
{
    display: flex;
    flex-flow: row wrap;
    width: 350px;
    margin: 25px 15px;
}

.catalog_two > .catalog_list > .catalog .cat p
{
    font-weight: bold;
    color: #E31E24;
}

.catalog_two > .catalog_list > .catalog .cat a
{
    transition: 0.3s all;
    color: #000000;
}

.catalog_two > .catalog_list > .catalog .cat a:hover
{
    color: #E31E24;
}

.catalog_two > .catalog_list > .catalog .cat p
{
    margin-bottom: 25px;
}

.catalog_two > .catalog_list > .catalog .cat a
{
    margin: 15px 0;
}

.catalog_two > .catalog_list > .catalog .cat p,
.catalog_two > .catalog_list > .catalog .cat a
{
    text-transform: uppercase;
    margin-left: 25px;
}

.catalog_two > .catalog_list > .catalog img
{
    height: 60px;
    width: 60px;
}

@media screen and (max-width: 750px)
{
    .catalog_two > .catalog_list
    {
        flex-flow: column wrap;
        justify-content: center;
    }
    .catalog_two > .catalog_list > .catalog
    {
        flex-flow: column wrap;
        width: auto;
        align-items: center;
    }
    .catalog_two > h2
    {
        text-align: center;
    }
    .catalog_two > .cat_fold
    {
        text-align: center;
    }
    .catalog_two > .catalog_list > .catalog .cat p, .catalog_two > .catalog_list > .catalog .cat a
    {
        margin-left: 0;
        text-align: center;
    }
}
