.one
{
	display: flex;
}

.one > img
{
	margin-right: 25px;
}

.one h2 > span.red
{
	text-transform: lowercase;
}

.one h2, .one h3
{
	margin-top: 10px;
}

.one h3
{
	margin-bottom: 15px;
}

.two
{
	display: flex;
	flex-flow: row nowrap;
}

.two h3:first-child
{
	margin-top: 55px;
}

h3
{
	font-size: 20px;
	font-weight: normal;

	margin-top: 25px;
}

h3 > span.red, h2 > span.red
{
	color: #E31E24;
}

h3 > span.bold
{
	font-weight: bold;
}

iframe
{
	margin-top: 30px;
	margin-right: 50px;
	margin-bottom: 50px;

	border: 0;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1),
	20px 20px 0px #E31E24;
}

@media screen and (max-width: 1100px)
{
	.one
	{
		flex-flow: column nowrap;
	}
	.one > img
	{
		margin: 25px 0;
		margin-right: 0;
	}
	h3
	{
		margin: 5px 15px;
	}
	.two
	{
		flex-flow: column nowrap;
	}
	iframe
	{
		width: 100%;
	}
}

@media screen and (max-width: 450px)
{
	h2, h3
	{
		text-align: center;
	}
}
