.footer
{
	background-color: #DCDADB;
}

.footer > .content
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.footer > .content > ul
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column nowrap;
	    flex-flow: column nowrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;

	margin: 0 50px 0 0;
}

.footer > .content > ul:last-child
{
	margin: 0 0 0 50px;

	text-align: right;
}

.footer > .content > ul.logo
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column nowrap;
	    flex-flow: column nowrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	margin-right: auto;
}

.footer > .content > ul > li > a, .footer > .content > ul > li > p
{
	font-size: 16px;

	position: relative;

	display: inline-block;

	margin: 10px;

	text-transform: uppercase;

	color: #000000;
}

.footer > .content > ul > li > .tel, .footer > .content > ul > li > a.email
{
	font-weight: bold;

	display: block;

	text-align: right;

	color: #E31E25;
}

.footer > .content > ul > li > a > span
{
	-webkit-transition: 0.3s all;
	        transition: 0.3s all;

	color: #E31E25;
}

.footer > .content > ul > li > a > span:hover
{
	font-weight: bold;
}

.footer > .content > ul > li > a.email > span
{
	text-transform: none;
}

.footer > .content > ul > li > a:not(.exception)::after
{
	position: absolute;
	bottom: -7px;
	left: 0;

	width: 100%;
	height: 2px;

	content: "";
	-webkit-transition: 0.3s all;
	        transition: 0.3s all;
	-webkit-transform: scale(0);
	        transform: scale(0);

	background-color: #000000;
}

.footer > .content > ul > li > a:hover::after
{
	-webkit-transform: scale(1);
	        transform: scale(1);
}

@media screen and (max-width: 1200px)
{
	.footer > .content
	{
		-ms-flex-flow: column wrap;
		    flex-flow: column wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.footer > .content > ul
	{
		-webkit-box-align: center;
		align-items: center;
		-ms-flex-align: center;
	}
	.footer > .content > ul.logo
	{
		-webkit-box-ordinal-group: 101;
		-ms-flex-order: 100;
		order: 100;

		width: 100%;
		margin: 0 auto;
		margin-top: 35px;
	}
	.footer > .content > ul.logo li
	{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		-ms-flex-align: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.footer > .content > ul > li > a, .footer > .content > ul > li > a.tel, .footer > .content > ul > li > a.email
	{
		text-align: center;
	}
	.footer > .content > ul:last-child, .footer > .content > ul
	{
		margin: 0 15px;

		text-align: center;
	}
}

@media screen and (max-width: 750px)
{
	.content
	{
		padding: 25px 25px;
	}
}
@media screen and (max-width: 425px)
{
	.footer > .content > ul.logo li img
	{
		width: 100%;
		padding: 5px 25px;
	}
	.content
	{
		padding: 25px 5px;
	}
}
