.header .content
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column wrap;
	    flex-flow: column wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
}

.header .content .menu
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	align-content: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	margin-bottom: 25px;
}

.header .content .menu > ul
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}

.header .content .menu > ul > li
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.header .content .menu li a, .header .content .menu li p.tel
{
	position: relative;

	margin: 5px 15px;

	text-transform: uppercase;

	color: #000000;
}

.header .content .menu li p.tel
{
	font-weight: bold;

	color: #E31E25;
}

.header .content .menu li a:hover
{
	color: #E31E25;
}

.header .content .menu li a:not(.tel)::after
{
	position: absolute;
	bottom: -7px;
	left: 0;

	width: 100%;
	width: 100%;
	height: 3px;

	content: "";
	-webkit-transition: 0.3s all;
	        transition: 0.3s all;
	-webkit-transform: scale(0);
	        transform: scale(0);

	background-color: #E31E25;
}

.header .content .menu li a:hover::after
{
	-webkit-transform: scale(1);
	        transform: scale(1);
}

.header .content .menu li a.tel
{
	color: #E31E25;
}

.header .content .menu li a.tel:hover
{
	font-weight: bold;
}

.header .content .nav
{
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header .content .nav .catalog
{
	font-size: 16px;
	font-weight: bold;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;

	width: 300px;
	height: 100%;
	min-height: 40px;
	margin-right: 25px;
	margin-bottom: 15px;
	padding: 5px 15px 4px 15px;

	cursor: pointer;

	color: #FFFFFF;
	border: 0;
	background-color: #E31E25;
}

.header .content .nav .catalog span
{
	font-size: 23px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	margin-right: 15px;
	padding-right: 1px;

	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.header .content .nav form
{
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* overflow: hidden; */
	-webkit-box-flex: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;

	height: 40px;
	margin-bottom: 15px;
}

.header .content .nav form input[type="search"]
{
	width: 100%;
	height: 100%;
	padding: 5px 40px 5px 15px;

	border: 1px gray solid;
}

.searchForm
{
	position: relative;
}

#searchResult
{
	max-height: 600px;
	overflow-y: scroll;
	position: absolute;
	top: 40px;
	z-index: 50;
	background-color: #FFFFFF;
	border: 1px solid #F7F7F7;
	scrollbar-color: red white;
	scrollbar-width: thin;
}

#searchResult::-webkit-scrollbar 
{
    width: 6px;
    background-color: #FFFFFF;
}
#searchResult::-webkit-scrollbar-thumb 
{
    background-color: #E31E25;
}
#searchResult::-webkit-scrollbar-track 
{
	background-color: #FFFFFF;
}

#searchResult a
{
	color: #000000;
	padding: 15px 25px;
}

#searchResult a:hover
{
    background-color: #F7F7F7;
}

.header .content .nav form button
{
	position: absolute;
	top: 0;
	right: 0;

	cursor: pointer;
	-webkit-transition: 0.3s all;
	        transition: 0.3s all;

	border: 0;
	background-color: rgba(255, 255, 255, 0);
}

.header .content .nav form button:hover
{
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
}

.header .content .nav form button, .header .content .nav form button img
{
	height: 100%;
}

.header .content .nav form button img
{
	padding: 8px;
}

.header .content .nav ul, .header .content .nav > ul li, .header .content .nav ul li a
{
	height: 100%;
}

.header .content .nav > ul
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	flex-grow: 1;
	justify-content: center;

	margin-bottom: 15px;
}

.header .content .nav ul li a
{
	-webkit-transition: 0.3s all;
	        transition: 0.3s all;
}

.header .content .nav > ul li a:hover
{
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
}

.header .content .nav ul li a img
{
	height: 25px;
}

.expand-catalog .cat_1 p, .header .content .nav ul li > span, .header .content .nav ul li a
{
	font-size: 14px;
	line-height: 16px;

	text-transform: uppercase;
}
.expand-catalog .cat_1 p
{
	font-weight: bold;
}

.header .content .nav > ul li
{
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;

	margin: 0 15px;
}

.header .content .nav ul li > span
{
	font-weight: bold;

	width: 100%;
	width: 100%;
	padding: 0px 25px;
}

.header .content .nav ul li a
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: flex-start;

	width: 100%;
	padding: 0 25px;

	-webkit-transition: 0.3s all;
	        transition: 0.3s all;
}

.header .content .nav ul li a
{
	padding: 0 25px 0 25px;
}

.header .content .nav ul li a p
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	margin-left: 5px;

	text-transform: uppercase;

	color: #E31E25;
}

.header .content .nav ul li.account
{
	position: relative;

	margin-right: 0;
	margin-left: 50px;
}

.header .content .nav ul li.account > .user-act
{
	display: none;
}

.account:hover .user-act
{
	display: block !important;
}

.header .content .nav > ul
{
	height: 42px;
}

.header .content .nav ul li.account > .user-act
{
	position: absolute;
	z-index: 50;
	top: 40px;
	right: 0;

	width: 160px;

	background-color: #FFFFFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header .content .nav ul li.account > .user-act a
{
	justify-content: center;

	width: 100%;
	padding: 20px 0px;

	cursor: pointer;

	color: #000000;
}

.header .content .nav ul li.account > .user-act a:hover
{
	background-color: #F7F7F7;
}

#login_button, #login_button img, #profie_button, #profie_button img
{
	margin-left: auto;
	padding-right: 0px;
}

@media screen and (max-width: 1200px)
{
	.header .content .menu
	{
		-webkit-box-align: center;
		align-items: center;
		-ms-flex-align: center;
		-ms-flex-flow: column;
		    flex-flow: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
	}
	.header .content .menu img
	{
		width: 300px;
		margin-bottom: 15px;
	}
	.header .content .menu ul
	{
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

@media screen and (max-width: 750px)
{
	.header .content .nav .catalog
	{
		width: 100%;
		margin-right: 0;
	}
	.header .content .nav form
	{
		width: 100%;
		margin: 10px 0 20px 0;
	}
	.header .content .nav
	{
		-ms-flex-flow: column;
		    flex-flow: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
	}
	.content
	{
		padding: 25px 25px;
	}
}

@media screen and (max-width: 425px)
{
	.content
	{
		padding: 25px 5px;
	}
	.header .content .menu > ul
	{
		flex-flow: column wrap;
	}
}

.expand-catalog
{
	position: absolute;
	z-index: 99;
	top: 40px;
	left: 0;

	width: 300px;

	background-color: #FFFFFF;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.expand-catalog .cat_1
{
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;

	height: 25px;
	padding: 25px 25px;

	cursor: pointer;
	-webkit-transition: 0.3s all;
	        transition: 0.3s all;
	        transition: 0.3s all;

	color: #000000;

	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
}

.expand-catalog .cat_1 span
{
	font-size: 24px;

	margin-left: auto;

	opacity: 0.7;
	color: #E31E25;
}

.expand-catalog .cat_1:hover
{
	color: #E31E25;
	background-color: #F7F7F7;

	-webkit-filter: grayscale(0);
	        filter: grayscale(0);
}
.expand-catalog .cat_1 img
{
	height: 20px;
	margin-right: 15px;
}

.expand-catalog .cat_1 p
{
	font-size: 14px;
}

.expand-cat_2
{
	position: absolute;
	top: 0;
	left: 300px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;

	width: 55vw;

	background-color: transparent;
}

.expand-catalog .expand-cat_2 ul
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column nowrap;
	    flex-flow: column nowrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;

	background-color: #F7F7F7;
}

.expand-catalog .expand-cat_2 ul li
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;

	min-height: 50px;
}

.expand-catalog .expand-cat_2 ul li span
{
	font-weight: bold;

	color: #E31E25;
}

.expand-catalog .expand-cat_2 ul li a
{
	width: 100%;
	height: 100%;
	min-height: 40px;
	min-height: 50px;
	padding: 0 15px;

	color: #000000;
	background-color: #F7F7F7;
}

.expand-catalog .expand-cat_2 ul li a:hover
{
	color: #E31E25;
	background-color: #FFFFFF;
}

@media screen and (max-width: 750px)
{
	.expand-catalog
	{
		width: 100%;
	}
	.expand-catalog .cat_1
	{
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.expand-catalog .cat_1 span
	{
		display: none;
	}
	.expand-cat_2
	{
		position: static;

		width: 100%;
	}
	.expand-catalog .expand-cat_2 ul, .expand-catalog .expand-cat_2 ul li span
	{
		width: 100%;

		text-align: center;
	}
}

.hide
{
	display: none;
}

.expand-cat_2:hover
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#modal_authorize
{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;

	overflow-y: scroll;

	min-width: 100vw;
	min-height: 100vh;
}

#modal_authorize .modal
{
	position: absolute;
	top: 140px;
	left: 50%;

	display: flex;
	flex-flow: column nowrap;

	width: 500px;
	min-height: 300px;
	padding-bottom: 40px;

	transform: translate(-50%, 0%);

	border-top: 7px solid #E31E25;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

#modal_authorize .modal #close_modal
{
	font-size: 46px;

	width: 100%;
	padding: 5px 20px 5px 5px;

	text-align: right;
}

#modal_authorize .modal form
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	flex-grow: 1;
	justify-content: center;
}

#login_button, #profie_button
{
	cursor: pointer;
}

#login_button img, #profie_button img
{
	padding-right: 5px;
}

#login_button p, #profie_button p
{
	font-weight: bold;

	padding-top: 1px;
}

#login_button > p > span, #profie_button > p > span
{
	margin-bottom: 1px;
	margin-left: 4px;

	transform: rotate(90deg);
}

#modal_authorize .modal .type_auth
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-around;

	margin-top: 15px;
	margin-bottom: 20px;
	padding: 0px 0px 0px 30px;

	border-bottom: 1px solid rgb(232, 232, 232);
}

#modal_authorize .modal .type_auth p
{
	font-weight: bold;

	margin: 15px 5px 0px 5px;
	padding: 15px;

	cursor: pointer;
	text-align: center;
}

#modal_authorize .modal .type_auth p.active
{
	border-bottom: 5px solid #E31E25;
}

#modal_authorize .modal form label
{
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
}

#modal_authorize .modal form input[type=text], #modal_authorize .modal form input[type=password], #modal_authorize .modal form input[type=tel], #modal_authorize .modal form input[type=email]
{
	width: 80%;
	height: 40px;
	margin: 15px;
	padding: 5px 15px;

	border: 0;
	border-bottom: 1px rgb(208, 208, 208) solid;
}

.place_holder
{
	position: absolute;
	z-index: 3;
	left: 10%;

	display: none;

	width: 80%;
	margin-left: 15px;

	cursor: text;

	color: lightgrey;
}

.placeinput input:invalid + .place_holder
{
	display: inline;
}

.placeinput
{
	position: relative;

	overflow: hidden;
}

.place_holder span
{
	color: #8B7B7B;
}

.place_holder span
{
	margin-left: 7px;

	color: red;
}

#modal_authorize .modal form input[type=submit], #loginButton, #registerButton
{
	font-size: 16px;
	font-weight: bold;

	align-self: flex-start;

	min-width: 160px;
	margin-left: 10%;
	padding: 15px;

	cursor: pointer;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;
	border: 0;
	background-color: #E31E25;
}

#modal_authorize .modal form .forget_password
{
	font-size: 14px;

	align-self: flex-end;

	margin-right: 10%;
	margin-bottom: 20px;

	text-align: right;

	color: #E31E25;
}

#modal_authorize .modal form .require
{
	font-size: 14px;

	width: 80%;
	margin-bottom: 20px;

	color: #8B7B7B;
}

#modal_authorize .modal form .require span
{
	color: #E31E25;
}

#modal_authorize .modal form .passwords, #modal_authorize .modal form .user-type
{
	display: flex;
	flex-flow: row nowrap;

	width: 90%;
	margin-bottom: 15px;
	padding-left: 0.4%;
}


/* Начало чекбоксов */
form .container, .pay-type .container
{
	font-size: 14px;

	position: relative;

	display: block;

	width: 100%;
	margin-bottom: 12px;
	padding-left: 35px;

	cursor: pointer;
}

form  .container input, .pay-type .container input
{
	position: absolute;

	width: 0;
	height: 0;

	cursor: pointer;

	opacity: 0;
}

form  label.container, .pay-type label.container
{
	margin-bottom: 22px;
}

form .checkmark, .pay-type .checkmark
{
	position: absolute;
	top: 0;
	left: 10%;

	width: 21px;
	height: 21px;

	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #FFFFFF;
}

form .container:hover input ~ .checkmark, .pay-type .container:hover input ~ .checkmark
{
	background-color: #FFFFFF;
}

form .container input:checked ~ .checkmark, .pay-type .container input:checked ~ .checkmark
{
	border: 0;
	background-color: #E31E25;
}

form .container .checkmark:after, .pay-type .container .checkmark:after
{
	top: 5px;
	left: 9px;

	width: 5px;
	height: 10px;

	transform: rotate(45deg);

	border: solid white;
	border-width: 0 3px 3px 0;
}

form .container p, .pay-type .container p
{
	width: 80%;
	margin-top: 3px;
	margin-left: 10px;

	color: #8B8787;
}

form .container p a, .container p span
{
	display: inline-block;

	color: #E31E25;
}

.pay-type .checkmark
{
	left: 0;
}
/* Конец чекбоксов */

@media screen and (max-width: 750px)
{
	#modal_authorize .modal .type_auth
	{
		padding: 0px;
	}
	#modal_authorize .modal
	{
		width: 100%;
	}
	#modal_authorize .modal form .passwords
	{
		flex-flow: column wrap;

		width: 100%;
	}
	#modal_authorize .modal form .passwords
	{
		width: 100%;
	}
	#modal_authorize .modal form input[type=submit], #loginButton, #registerButton
	{
		align-self: center;

		margin-top: 15px;
		margin-left: 0;
	}
	.placeinput input:invalid + .place_holder, #modal_authorize input
	{
		text-align: center;
	}
}

@media screen and (max-width: 450px)
{
	.container p
	{
		font-size: 9px;

		margin-top: 6px;
	}
}

@media screen and (max-width: 550px)
{
	.header .content .nav > ul
	{
		flex-flow: row wrap;

		width: 100%;
		margin-bottom: 35px;
	}
	.header .content .nav ul li a
	{
		justify-content: center;
	}
	.header .content .nav ul li.account, #login_button, #profie_button
	{
		width: 100%;
		margin-left: 0;
	}
	#login_button, #login_button img, #profie_button, #profie_button img
	{
		margin-left: 0;
	}
	.header .content .nav ul li a
	{
		padding: 0;
	}
	.header .content .nav ul li.account > .user-act
	{
		width: 100%;
	}
}
