.header .content
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column wrap;
	    flex-flow: column wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
}

.header .content .menu
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-line-pack: center;
	align-content: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	margin-bottom: 25px;
}

.header .content .menu > ul
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
}

.header .content .menu > ul > li
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.header .content .menu li a
{
	position: relative;

	margin: 5px 15px;

	text-transform: uppercase;

	color: #000000;
}

.header .content .menu li a:hover
{
	color: #E31E25;
}

.header .content .menu li a:not(.tel)::after
{
	position: absolute;
	bottom: -7px;
	left: 0;

	width: 100%;
	width: 100%;
	height: 3px;

	content: "";
	-webkit-transition: 0.3s all;
	        transition: 0.3s all;
	-webkit-transform: scale(0);
	        transform: scale(0);

	background-color: #E31E25;
}

.header .content .menu li a:hover::after
{
	-webkit-transform: scale(1);
	        transform: scale(1);
}

.header .content .menu li a.tel
{
	color: #E31E25;
}

.header .content .menu li a.tel:hover
{
	font-weight: bold;
}

.header .content .nav
{
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header .content .nav .catalog
{
	font-size: 16px;
	font-weight: bold;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;

	width: 300px;
	height: 100%;
	min-height: 40px;
	margin-right: 25px;
	margin-bottom: 15px;
	padding: 5px 15px 4px 15px;

	cursor: pointer;

	color: #FFFFFF;
	border: 0;
	background-color: #E31E25;
}

.header .content .nav .catalog span
{
	font-size: 23px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	margin-right: 15px;

	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.header .content .nav form
{
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-flex: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;

	height: 40px;
	margin-bottom: 15px;
}

.header .content .nav form input[type="search"]
{
	width: 100%;
	height: 100%;
	padding: 5px 40px 5px 15px;

	border: 1px gray solid;
}

.header .content .nav form button
{
	position: absolute;
	top: 0;
	right: 0;

	cursor: pointer;
	-webkit-transition: 0.3s all;
	        transition: 0.3s all;

	border: 0;
	background-color: rgba(255, 255, 255, 0);
}

.header .content .nav form button:hover
{
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
}

.header .content .nav form button, .header .content .nav form button img
{
	height: 100%;
}

.header .content .nav form button img
{
	padding: 5px;
}

.header .content .nav > ul
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-flex: 1;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	height: 40px;
	margin-bottom: 15px;
}

.header .content .nav ul, .header .content .nav > ul li, .header .content .nav ul li a
{
	height: 100%;
}

.header .content .nav ul li a
{
	-webkit-transition: 0.3s all;
	        transition: 0.3s all;
}

.header .content .nav > ul li a:hover
{
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
}

.header .content .nav ul li a img
{
	height: 40px;
}

.header .content .nav > ul li
{
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;

	margin: 0 15px;
}

.header .content .nav ul li a
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	-webkit-transition: 0.3s all;
	        transition: 0.3s all;
}

.header .content .nav ul li a p
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	margin-left: 5px;

	text-transform: uppercase;

	color: #E31E25;
}

.header .content .nav ul li.account
{
	margin-left: 50px;
}

@media screen and (max-width: 1200px)
{
	.header .content .menu
	{
		-webkit-box-align: center;
		align-items: center;
		-ms-flex-align: center;
		-ms-flex-flow: column;
		    flex-flow: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
	}
	.header .content .menu img
	{
		width: 300px;
		margin-bottom: 15px;
	}
	.header .content .menu ul
	{
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

@media screen and (max-width: 750px)
{
	.header .content .nav .catalog
	{
		width: 100%;
		margin-right: 0;
	}
	.header .content .nav form
	{
		width: 100%;
		margin: 10px 0 20px 0;
	}
	.header .content .nav
	{
		-ms-flex-flow: column;
		    flex-flow: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
	}
	.content
	{
		padding: 25px 25px;
	}
}

@media screen and (max-width: 425px)
{
	.content
	{
		padding: 25px 5px;
	}
}

.expand-catalog
{
	position: absolute;
	z-index: 99;
	top: 40px;
	left: 0;

	width: 300px;

	background-color: #FFFFFF;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.expand-catalog .cat_1
{
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;

	height: 25px;
	padding: 25px 25px;

	-webkit-transition: 0.3s all;
	        transition: 0.3s all;
	        transition: 0.3s all;

	color: #000000;

	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
}

.expand-catalog .cat_1 span
{
	font-size: 24px;

	margin-left: auto;

	opacity: 0.7;
	color: #E31E25;
}

.expand-catalog .cat_1:hover
{
	color: #E31E25;
	background-color: #F7F7F7;

	-webkit-filter: grayscale(0);
	        filter: grayscale(0);
}
.expand-catalog .cat_1 img
{
	height: 20px;
	margin-right: 15px;
}

.expand-catalog .cat_1 p
{
	font-size: 14px;
}

.expand-cat_2
{
	position: absolute;
	top: 0;
	left: 300px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;

	width: 55vw;

	background-color: transparent;
}

.expand-catalog .expand-cat_2 ul
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column nowrap;
	    flex-flow: column nowrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;

	background-color: #F7F7F7;
}

.expand-catalog .expand-cat_2 ul li
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;

	min-height: 50px;
}

.expand-catalog .expand-cat_2 ul li span
{
	padding: 0 15px;
	padding-bottom: 1px;

	color: #E31E25;
}

.expand-catalog .expand-cat_2 ul li a
{
	width: 100%;
	height: 100%;
	min-height: 40px;
	min-height: 50px;
	padding: 0 15px;

	color: #000000;
	background-color: #F7F7F7;
}

.expand-catalog .expand-cat_2 ul li a:hover
{
	color: #E31E25;
	background-color: #FFFFFF;
}

@media screen and (max-width: 750px)
{
	.expand-catalog
	{
		width: 100%;
	}
	.expand-catalog .cat_1
	{
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.expand-catalog .cat_1 span
	{
		display: none;
	}
	.expand-cat_2
	{
		position: static;

		width: 100%;
	}
	.expand-catalog .expand-cat_2 ul, .expand-catalog .expand-cat_2 ul li span
	{
		width: 100%;

		text-align: center;
	}
}

.hide
{
	display: none;
}

.expand-cat_2:hover
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#modal_authorize
{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;

	min-width: 100vw;
	min-height: 100vh;
}

#modal_authorize .modal
{
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-flow: column nowrap;

	width: 500px;
	min-height: 300px;
	padding-bottom: 40px;

	transform: translate(-50%, -50%);

	border-top: 7px solid #E31E25;
	background-color: #FFFFFF;
}

#modal_authorize .modal #close_modal
{
	font-size: 46px;

	width: 100%;
	padding: 5px 20px 5px 5px;

	text-align: right;
}

#modal_authorize .modal form
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	flex-grow: 1;
	justify-content: center;
}

#login_button, #close_modal
{
	cursor: pointer;
}

#modal_authorize .modal .type_auth
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-around;

	margin-top: 15px;
	margin-bottom: 20px;
	padding: 0px 0px 0px 30px;

	border-bottom: 1px solid rgb(232, 232, 232);
}

#modal_authorize .modal .type_auth p
{
	font-weight: bold;

	margin: 15px 5px 0px 5px;
	padding: 15px;

	cursor: pointer;
	text-align: center;
}

#modal_authorize .modal .type_auth p.active
{
	border-bottom: 5px solid #E31E25;
}

#modal_authorize .modal form label
{
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
}

#modal_authorize .modal form input[type=text], #modal_authorize .modal form input[type=password]
{
	width: 80%;
	height: 40px;
	margin: 15px;
	padding: 5px 15px;

	border: 0;
	border-bottom: 1px rgb(208, 208, 208) solid;
}

.place_holder
{
	position: absolute;
	z-index: 100;
	left: 10%;

	display: none;

	width: 100%;
	margin-left: 15px;

	cursor: text;

	color: lightgrey;
}

.placeinput input:invalid + .place_holder
{
	display: inline;
}

.placeinput
{
	position: relative;

	overflow: hidden;
}

.place_holder span
{
	margin-left: 7px;

	color: red;
}

#modal_authorize .modal form input[type=submit]
{
	text-transform: uppercase;
	align-self: flex-start;
	font-weight: bold;
	font-size: 16px;
	width: 160px;
	margin-left: 10%;
	padding: 15px;

	color: #FFFFFF;
	border: 0;
	background-color: #E31E25;
}

#modal_authorize .modal form .forget_password
{
	align-self: flex-end;

	margin-right: 10%;
	font-size: 14px;
	text-align: right;
	margin-bottom: 20px;
	color: #E31E25;
}

#modal_authorize .modal form .require
{
	font-size: 14px;
	width: 80%;
	margin-bottom: 20px;
}

#modal_authorize .modal form .require span
{
	color: #E31E25;
}