/*! nouislider - 14.0.3 - 10/10/2019 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target, .noUi-target *
{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-touch-action: none;
	    touch-action: none;
	-webkit-touch-callout: none;
}
.noUi-target
{
	position: relative;

	direction: ltr;
}
.noUi-base, .noUi-connects
{
	position: relative;
	z-index: 1;

	width: 100%;
	height: 100%;
}
/* Wrapper for all connect elements.
 */
.noUi-connects
{
	z-index: 0;

	overflow: hidden;
}
.noUi-connect, .noUi-origin
{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;

	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;

	-webkit-transform-style: preserve-3d;
	-webkit-transform-style: flat;
	        transform-style: flat;
	will-change: transform;
}
.noUi-connect
{
	width: 100%;
	height: 100%;
}
.noUi-origin
{
	width: 10%;
	height: 10%;
}
/* Offset direction
 */
html:not([dir="rtl"]) .noUi-horizontal .noUi-origin
{
	right: 0;
	left: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin
{
	width: 0;
}
.noUi-horizontal .noUi-origin
{
	height: 0;
}
.noUi-handle
{
	position: absolute;

	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}
.noUi-touch-area
{
	width: 100%;
	height: 100%;

	cursor: pointer;

	background-color: #E31E24;
}
.noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin
{
	-webkit-transition:         transform 0.3s;
	-webkit-transition: -webkit-transform 0.3s;
	        transition: -webkit-transform 0.3s;
	        transition:         transform 0.3s;
	        transition:         transform 0.3s, -webkit-transform 0.3s;
}
.noUi-state-drag *
{
	cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal
{
	height: 18px;
}
.noUi-horizontal .noUi-handle
{
	top: -6px;
	left: -2px;

	width: 5px;
	height: 20px;
}
.noUi-vertical
{
	width: 18px;
}
.noUi-vertical .noUi-handle
{
	top: -17px;
	left: -6px;

	width: 28px;
	height: 34px;
}
html:not([dir="rtl"]) .noUi-horizontal .noUi-handle
{
	border: 0;
	right: -2px;
	left: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target
{
	border: 0;
	border-bottom: 1px solid #C4C4C4;
}
.noUi-connects
{
	border-radius: 3px;
}
.noUi-connect
{
	background: #E31E24;
}
/* Handles and cursors;
 */
.noUi-draggable
{
	cursor: ew-resize;
}
.noUi-vertical .noUi-draggable
{
	cursor: ns-resize;
}
.noUi-handle
{
	cursor: default;

	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #FFFFFF;
	-webkit-box-shadow: inset 0 0 1px #FFFFFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBBBBB;
	        box-shadow: inset 0 0 1px #FFFFFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBBBBB;
}
.noUi-active
{
	-webkit-box-shadow: inset 0 0 1px #FFFFFF, inset 0 1px 7px #DDDDDD, 0 3px 6px -3px #BBBBBB;
	        box-shadow: inset 0 0 1px #FFFFFF, inset 0 1px 7px #DDDDDD, 0 3px 6px -3px #BBBBBB;
}
/* Handle stripes;
 */

/*
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
*/

/* Disabled state;
 */
[disabled] .noUi-connect
{
	background: #B8B8B8;
}
[disabled].noUi-target, [disabled].noUi-handle, [disabled] .noUi-handle
{
	cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips, .noUi-pips *
{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.noUi-pips
{
	position: absolute;

	color: #999999;
}
/* Values;
 *
 */
.noUi-value
{
	position: absolute;

	text-align: center;
	white-space: nowrap;
}
.noUi-value-sub
{
	font-size: 10px;

	color: #CCCCCC;
}
/* Markings;
 *
 */
.noUi-marker
{
	position: absolute;

	background: #CCCCCC;
}
.noUi-marker-sub
{
	background: #AAAAAA;
}
.noUi-marker-large
{
	background: #AAAAAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal
{
	top: 100%;
	left: 0;

	width: 100%;
	height: 80px;
	padding: 10px 0;
}
.noUi-value-horizontal
{
	-webkit-transform: translate(-50%, 50%);
	        transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal
{
	-webkit-transform: translate(50%, 50%);
	        transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker
{
	width: 2px;
	height: 5px;
	margin-left: -1px;
}
.noUi-marker-horizontal.noUi-marker-sub
{
	height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large
{
	height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical
{
	top: 0;
	left: 100%;

	height: 100%;
	padding: 0 10px;
}
.noUi-value-vertical
{
	padding-left: 25px;

	-webkit-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
.noUi-rtl .noUi-value-vertical
{
	-webkit-transform: translate(0, 50%);
	        transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker
{
	width: 5px;
	height: 2px;
	margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub
{
	width: 10px;
}
.noUi-marker-vertical.noUi-marker-large
{
	width: 15px;
}
.noUi-tooltip
{
	position: absolute;

	display: block;

	padding: 5px;

	text-align: center;
	white-space: nowrap;

	color: #000000;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #FFFFFF;
}
.noUi-horizontal .noUi-tooltip
{
	bottom: 120%;
	left: 50%;

	-webkit-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
}
.noUi-vertical .noUi-tooltip
{
	top: 50%;
	right: 120%;

	-webkit-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}
