.payments, .pay-icons
{
	display: flex;
	flex-flow: row nowrap;
}

.pay-block
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	flex-grow: 1;
	justify-content: center;

	margin: 25px 10px;
	margin-bottom: 55px;
}

.pay-block img
{
	margin: 25px;
}
.pay-block p
{
	font-size: 20px;
	font-weight: bold;
	line-height: 23px;

	max-width: 250px;

	text-align: center;
	text-transform: uppercase;
}

h3
{
	font-size: 20px;

	margin: 20px 0;

	text-transform: uppercase;
}

h4
{
	font-size: 18px;
	font-weight: normal;

	margin: 10px 0;

	text-transform: uppercase;
}

@media screen and (max-width: 750px)
{
	.payments
	{
		flex-flow: column nowrap;
	}
}

@media screen and (max-width: 450px)
{
	h2, h3, p, h4
	{
		text-align: center;
	}
	.pay-block
	{
		width: 100%;
		margin: 25px 0px;
	}
	.pay-icons > img
	{
		flex-grow: 1;

		max-width: 33%;
	}
}
