.pay-block
{
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	justify-content: center;

	width: 250px;
	margin: 25px 10px;
	margin-bottom: 55px;
}

.pay-block img
{
	margin: 25px;
}
.pay-block p
{
	font-size: 20px;
	font-weight: bold;
	line-height: 23px;

	text-align: center;
	text-transform: uppercase;
}

h3
{
	font-size: 20px;

	margin: 20px 0;

	text-transform: uppercase;
}

@media screen and (max-width: 450px)
{
	h2, h3, p
	{
		text-align: center;
	}
	.pay-block
	{
		margin: 25px 0px;
		width: 100%;
	}
}