.scroll::-webkit-scrollbar-button
{
	width: 5px;
	height: 0px;

	background-image: url("");
	background-repeat: no-repeat;
}

.scroll::-webkit-scrollbar-track
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.scroll::-webkit-scrollbar-thumb
{
	-webkit-border-radius: 0px;
	background-color: red;
}

.scroll::-webkit-scrollbar-thumb:hover
{
	background-color: red;
}

.scroll::-webkit-resizer
{
	width: 4px;
	height: 5px;

	background-image: url("");
	background-repeat: no-repeat;
}

.scroll::-webkit-scrollbar
{
	width: 4px;
	height: 7px;
}

.scroll
{
	margin-top: 450px;

	scrollbar-color: red white;
	scrollbar-width: thin;
}

.scroll
{
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;

	width: 100%;
	margin: 0px auto;
	padding: 25px 10px;
}

.scroll > .brand
{
	min-width: 150px;
	height: 150px;
	margin: 10px;
}

.scroll > .brand > img
{
	width: 100%;
	height: 100%;
}

.product
{
	position: relative;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-ms-flex-flow: column nowrap;
	    flex-flow: column nowrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;

	min-width: 314px;
	min-height: 380px;
	margin: 0 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.product > a
{
	width: 100%;
	height: 100%;
}

.product > a, .scroll > .product > a > img
{
	width: 100%;
}

.product > a, .scroll > .product > a > img.product_img
{
	margin-top: 20px;
}

.product:last-child::before
{
	width: 105%;
	height: 1px;

	content: "";
}

.product > p
{
	width: 100%;
	padding: 0 25px;
}

.product > .product-name
{
	font-size: 18px;

	margin-bottom: 20px;
}

.product > .old-price
{
	font-size: 26px;
	font-style: italic;

	text-decoration: line-through;

	color: gray;
}

.product .new-price
{
	font-size: 38px;
	font-weight: bold;

	margin-bottom: 15px;
}

.product > .sale
{
	font-size: 26px;
	font-weight: bold;

	position: absolute;
	top: 15px;
	left: 0;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	width: 100px;
	height: 50px;

	color: #FFFFFF;
	background-color: red;
}

.product > .sale::before
{
	content: "-";
}

.product > .sale::after
{
	content: "%";
}

.product > .car.cart
{
	right: 15px;
	bottom: 15px;
}

.product > .favourite
{
	right: 60px;
	bottom: 15px;
}

.product .cart > img, .product  .favourite > img
{
	width: 80%;
	height: 80%;
}

.product .cart, .product .favourite
{
	position: absolute;

	width: 30px;
	height: 30px;

	-webkit-transition: 0.3s all;
	        transition: 0.3s all;
}

.product .cart
{
	right: 15px;
    bottom: 15px;
}
.product .cart:hover, .product > .favourite:hover
{
	-webkit-filter: grayscale(1);
	        filter: grayscale(1);
}

.slider_header
{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.slide_left, .slide_right
{
	font-size: 48px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	width: 60px;
	height: 60px;

	-webkit-transition: 0.3s all;
	        transition: 0.3s all;

	opacity: 0.5;
	color: #E31E25;
	border: 3px solid #E31E25;
	border-radius: 100%;
}

.slide_anim:hover
{
	cursor: pointer;

	opacity: 1;
}

.slide_left
{
	margin-left: auto;
}

.slide_right
{
	margin-left: 25px;
}

.slide_left > span, .slide_right > span
{
	color: #000000;
}

@media screen and (max-width: 750px)
{
	.slide_left, .slide_right
	{
		font-size: 38px;

		width: 35px;
		height: 35px;
	}
}
@media screen and (max-width: 425px)
{
	.slider_header h2
	{
		font-size: 5vw;

		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;

		text-align: center;
	}
	.slide_left
	{
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;

		margin-left: 0;
	}
	.slide_right
	{
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;

		margin-left: 0;
	}
	.slider_header
	{
		-webkit-box-pack: space-evenly;
		-ms-flex-pack: space-evenly;
		justify-content: space-evenly;
	}
}
