@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input
{
    font-family: 'Roboto', sans-serif;
}

.content
{
    padding: 50px;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
}

a
{
    display: block;
    text-decoration: none;
}

ul
{
    list-style-type: none;
}