.footer
{
	background-color: #DCDADB;
}

.footer > .content
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

.footer > .content > ul
{
	display: flex;
	flex-flow: column nowrap;

	margin: 0 50px;
}

.footer > .content > ul > li > a
{
	position: relative;

	margin: 10px;

	text-align: center;
	text-transform: uppercase;

	color: #000000;
}

.footer > .content > ul > li > a > span
{
	text-transform: none;

	color: #E31E25;
}

.footer > .content > ul > li > a:not(.contact)::after
{
	position: absolute;
	bottom: -7px;
	left: 0;

	width: 100%;
	height: 2px;

	content: "";
	transition: 0.3s all;
	transform: scale(0);

	background-color: #000000;
}

.footer > .content > ul > li > a:hover::after
{
	transform: scale(1);
}
