.header .content
{
	display: flex;
	flex-flow: column wrap;
}

.header .content .menu
{
	display: flex;
	align-content: center;
	flex-flow: row wrap;
	justify-content: space-between;

	margin-bottom: 25px;
}

.header .content .menu ul
{
	display: flex;
	flex-flow: row wrap;
}

.header .content .menu ul li
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .content .menu li a
{
	position: relative;

	margin: 5px 15px;

	text-transform: uppercase;

	color: #000000;
}

.header .content .menu li a:hover
{
	color: #E31E25;
}

.header .content .menu li a::after
{
	position: absolute;
	bottom: -7px;
	left: 0;

	width: 100%;
	width: 100%;
	height: 3px;

	content: "";
	transition: 0.3s all;
	transform: scale(0);

	background-color: #E31E25;
}

.header .content .menu li a:hover::after
{
	transform: scale(1);
}

.header .content .menu li a.tel
{
	color: #E31E25;
}

.header .content .nav
{
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;

	height: 40px;
}

.header .content .nav .catalog
{
	font-size: 16px;
	font-weight: bold;

	display: flex;
	align-items: center;
    width: 300px;
	height: 100%;
	margin-right: 25px;
	padding: 5px 15px 4px 15px;

	cursor: pointer;

	color: #FFFFFF;
	border: 0;
	background-color: #E31E25;
}

.header .content .nav .catalog span
{
	font-size: 23px;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: 15px;

	transform: rotate(90deg);
}

.header .content .nav form
{
    position: relative;   
    display: flex;
    overflow: hidden;
	height: 100%;
}

.header .content .nav form input[type="search"]
{
    width: 500px;
	height: 100%;
    padding: 5px 40px 5px 15px;

	border: 1px gray solid;
}

.header .content .nav form button
{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}
.header .content .nav form button, .header .content .nav form button img
{
    height: 100%;
}

.header .content .nav form button img
{
    padding: 5px;
}

.header .content .nav ul
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.header .content .nav ul, .header .content .nav ul li, .header .content .nav ul li a, .header .content .nav ul li a img
{
    height: 100%;
}

.header .content .nav ul li
{
    margin: 0 15px;
    flex-grow: 1;
}

.header .content .nav ul li a
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .content .nav ul li a p
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-left: 5px;

}

.header .content .nav ul li:last-child
{
    margin-left: 50px;
}