.header .content
{
	display: flex;
	flex-flow: column wrap;
}

.header .content .menu
{
	display: flex;
	align-content: center;
	flex-flow: row wrap;
	justify-content: space-between;

	margin-bottom: 25px;
}

.header .content .menu ul
{
	display: flex;
	flex-flow: row wrap;
}

.header .content .menu ul li
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .content .menu li a
{
	position: relative;

	margin: 5px 15px;

	text-transform: uppercase;

	color: #000000;
}

.header .content .menu li a:hover
{
	color: #E31E25;
}

.header .content .menu li a::after
{
	position: absolute;
	bottom: -7px;
	left: 0;

	width: 100%;
	width: 100%;
	height: 3px;

	content: "";
	transition: 0.3s all;
	transform: scale(0);

	background-color: #E31E25;
}

.header .content .menu li a:hover::after
{
	transform: scale(1);
}

.header .content .menu li a.tel
{
	color: #E31E25;
}

.header .content .nav
{
	position: relative;

	display: flex;
	align-items: center;
	flex-flow: row wrap;
	justify-content: space-between;

	height: 40px;
}

.header .content .nav .catalog
{
	font-size: 16px;
	font-weight: bold;

	display: flex;
	align-items: center;

	width: 300px;
	height: 100%;
	min-height: 40px;
	margin-right: 25px;
	padding: 5px 15px 4px 15px;

	cursor: pointer;

	color: #FFFFFF;
	border: 0;
	background-color: #E31E25;
}

.header .content .nav .catalog span
{
	font-size: 23px;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: 15px;

	transform: rotate(90deg);
}

.header .content .nav form
{
	position: relative;

	display: flex;
	overflow: hidden;
	flex-grow: 3;

	height: 100%;
	min-height: 40px;
}

.header .content .nav form input[type="search"]
{
	width: 100%;
	height: 100%;
	padding: 5px 40px 5px 15px;

	border: 1px gray solid;
}

.header .content .nav form button
{
	position: absolute;
	top: 0;
	right: 0;

	cursor: pointer;
	transition: 0.3s all;

	border: 0;
	background-color: rgba(255, 255, 255, 0);
}

.header .content .nav form button:hover
{
	filter: grayscale(1);
}

.header .content .nav form button, .header .content .nav form button img
{
	height: 100%;
}

.header .content .nav form button img
{
	padding: 5px;
}

.header .content .nav ul
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	flex-grow: 1;
	justify-content: center;

	min-height: 40px;
}

.header .content .nav ul, .header .content .nav ul li, .header .content .nav ul li a
{
	height: 100%;
}

.header .content .nav ul li a
{
	transition: 0.3s all;
}

.header .content .nav ul li a:hover
{
	filter: grayscale(1);
}

.header .content .nav ul li a img
{
	height: 85%;
}

.header .content .nav ul li
{
	flex-grow: 1;

	margin: 0 15px;
}

.header .content .nav ul li a
{
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .content .nav ul li a p
{
	display: flex;
	align-items: center;
	justify-content: center;

	margin-left: 5px;

	text-transform: uppercase;

	color: #E31E25;
}

.header .content .nav ul li:last-child
{
	margin-left: 50px;
}

@media screen and (max-width: 1200px)
{
	.header .content .menu
	{
		align-items: center;
		flex-flow: column;
	}
	.header .content .menu img
	{
		width: 300px;
		margin-bottom: 15px;
	}
	.header .content .menu ul
	{
		justify-content: center;
	}
}

@media screen and (max-width: 750px)
{
	.header .content .nav .catalog
	{
		width: 100%;
		margin-right: 0;
	}
	.header .content .nav form
	{
		width: 100%;
		margin: 25px 0;
	}
	.header .content .nav
	{
		flex-flow: column;
	}
	.content
	{
		padding: 25px 25px;
	}
}

@media screen and (max-width: 425px)
{
	.content
	{
		padding: 25px 5px;
	}
}

.expand-catalog
{
	position: absolute;
	z-index: 5;
	top: 40px;
	left: 0;

	width: 300px;

	background-color: #FFFFFF;
}

.expand-catalog .cat_1
{
	display: flex;
	align-items: center;
	flex-flow: row nowrap;

	height: 25px;
	padding: 20px 25px;

	transition: 0.3s all;

	color: #000000;

	filter: grayscale(1);
}

.expand-catalog .cat_1 span
{
    color: #E31E25;
	font-size: 24px;
    opacity: 0.7;
	margin-left: auto;
}

.expand-catalog .cat_1:hover
{
	color: #E31E25;
	background-color: #F7F7F7;

	filter: grayscale(0);
}
.expand-catalog .cat_1 img
{
	height: 20px;
    margin-right: 15px;
}
