<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Главная </title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/scroll.css">
</head>
<body>
    
    <header class="header">
        <div class="content">
            <div class="menu"> 
                <img src="./img/logo.png" alt="logo">
                <ul>
                    <li> <a href="#">Доставка</a> </li>
                    <li> <a href="#">Оплата</a> </li>
                    <li> <a href="#">Контакт</a> </li>
                    <li> <a href="#">Задать вопрос</a> </li>
                    <li> <a href="#">О компании</a> </li>
                    <li> <a href="#" class="tel">8-495-380-42-88</a> </li>
                </ul>
            </div>
            <div class="nav">
                <button class="catalog" id="catalog"> <span>|||</span> КАТАЛОГ ТОВАРОВ</button>

                <div class="expand-catalog hide">
                    <a class="cat_1" href="#"> <img src="./img/percent.svg"><p> Акции и скидки </p></a>
                    <a class="cat_1" href="#"> <img src="./img/clip.svg"><p>Концелярии и товары</p><span>></span></a>
                    <div class='expand-cat_2 hide'>
                        <ul>
                            <li><span>1</span></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                        </ul>
                    </div>
                    <a class="cat_1" href="#"> <img src="./img/bucket.svg"><p>Хозтовары</p><span>></span></a>
                    <div class='expand-cat_2 hide'>
                        <ul>
                            <li><span>2</span></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                        </ul>
                    </div>
                    <a class="cat_1" href="#"> <img src="./img/furniture.svg"><p>Мебель</p><span>></span></a>
                    <div class='expand-cat_2 hide'>
                        <ul>
                            <li><span>3</span></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                        </ul>
                    </div>
                </div>
                
                <form action="#">
                    <input type="search" placeholder="Поиск...">
                    <button> <img src="./img/search.svg" alt="search"> </button>
                </form>
                <ul>
                    <li><a href="#"><img src="./img/favourite.svg" alt="favorite"></a></li>
                    <li><a href="#"><img src="./img/cart.svg" alt="cart"></a></li>
                    <li class="account"><a href="#"><img src="./img/account.svg" alt="account"><p>Войти</p></a></li>
                </ul>
            </div>
        </div>
    </header>

    <!-- СЛАЙДЕР С БРЕНДАМИ -->
    <div class="content">
        <div class="scroll">
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
        </div>
    </div>
    <!-- КОНЕЦ СЛАЙДЕРА С БРЕНДАМИ -->

    <script id="catalog_popup">
        document.querySelector('#catalog').addEventListener('click', function()
        {
            if (document.querySelector('.expand-catalog').classList.contains('hide'))
            {
                document.querySelector('.expand-catalog').classList.remove('hide')
            }
            else
            {
                document.querySelector('.expand-catalog').classList.add('hide')
            }
        });

        document.querySelectorAll('.cat_1').forEach((element) => 
        {
            element.addEventListener('mouseenter', function()
            {
                if (element.nextElementSibling.classList.contains('expand-cat_2'))
                {
                    element.nextElementSibling.classList.remove('hide');
                }
            });

            element.addEventListener('mouseleave', function()
            {
                if (element.nextElementSibling.classList.contains('expand-cat_2'))
                {
                    element.nextElementSibling.classList.add('hide');
                }
            });
        });
    </script>
</body>
</html>