<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Главная </title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/header.css">
</head>
<body>
    
    <header class="header">
        <div class="content">
            <div class="menu"> 
                <img src="./img/logo.png" alt="logo">
                <ul>
                    <li> <a href="#">Доставка</a> </li>
                    <li> <a href="#">Оплата</a> </li>
                    <li> <a href="#">Контакт</a> </li>
                    <li> <a href="#">Задать вопрос</a> </li>
                    <li> <a href="#">О компании</a> </li>
                    <li> <a href="#" class="tel">8-495-380-42-88</a> </li>
                </ul>
            </div>
            <div class="nav">
                <button>КАТАЛОГ ТОВАРОВ</button>
                <form action="">
                    <input type="search">
                    <input type="submit">
                </form>

            </div>
        </div>
    </header>

</body>
</html>