<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Главная </title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/products.css">
    <link rel="stylesheet" href="./css/scroll.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>

<body>

    <!-- ХЕАДЕР -->
    <header class="header">
        <div class="content">
            <div class="menu">
                <a href="#"><img src="./img/logo.svg" alt="logo"></a>
                <ul>
                    <li> <a href="#">Доставка</a> </li>
                    <li> <a href="#">Оплата</a> </li>
                    <li> <a href="#">Контакт</a> </li>
                    <li> <a href="#">Задать вопрос</a> </li>
                    <li> <a href="#">О компании</a> </li>
                    <li> <a href="#" class="tel">8-495-380-42-88</a> </li>
                </ul>
            </div>
            <div class="nav">
                <button class="catalog" id="catalog"> <span>|||</span> КАТАЛОГ ТОВАРОВ</button>

                <div class="expand-catalog hide">
                    <a class="cat_1" href="#"> <img src="./img/percent.svg">
                        <p> Акции и скидки </p>
                    </a>
                    <a class="cat_1" href="#"> <img src="./img/clip.svg">
                        <p>Концелярии и товары</p><span>&#62;</span>
                    </a>
                    <div class='expand-cat_2 hide'>
                        <ul>
                            <li><span>1</span></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                        </ul>
                    </div>
                    <a class="cat_1" href="#"> <img src="./img/bucket.svg"><p>Хозтовары</p><span>&#62;</span></a>
                    <div class='expand-cat_2 hide'>
                        <ul>
                            <li><span>2</span></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                        </ul>
                    </div>
                    <a class="cat_1" href="#"> <img src="./img/furniture.svg"><p>Мебель</p><span>&#62;</span></a>
                    <div class='expand-cat_2 hide'>
                        <ul>
                            <li><span>3</span></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                        </ul>
                    </div>
                </div>

                <form action="#">
                    <input type="search" placeholder="Поиск...">
                    <button> <img src="./img/search.svg" alt="search"> </button>
                </form>
                <ul>
                    <li><a href="#"><img src="./img/favourite.svg" alt="favorite"></a></li>
                    <li><a href="#"><img src="./img/cart.svg" alt="cart"></a></li>
                    <li class="account"><a href="#"><img src="./img/account.svg" alt="account"><p>Войти</p></a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- КОНЕЦ ХЕАДЕРА -->
    
    <!-- ТОВАРЫ -->
    <div class="content">
        <div class="catalg_view">
            <div class="filters">

            </div>
            <div class="products">
                <!-- СЛАЙДЕР С БРЕНДАМИ -->
                    <div class="slider_header">
                        <h2> Бренды </h2> 
                        <div class="slide_left">&#60;</div>
                        <div class="slide_right">&#62;</div>
                    </div>
                    <div class="scroll">
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                    </div>
                <!-- КОНЕЦ СЛАЙДЕРА С БРЕНДАМИ -->

                <div class="sort">
                    <p>
                        Сортировка: 
                        <select>
                            <option value="10">По популярности</option>
                            <option value="30">Сначала дешевые</option>
                            <option value="50">Сначала дорогие</option>
                        </select>
                    </p>

                    <p>
                        Товаров на странице: 
                        <select>
                            <option value="10">10</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </p>

                    <div class="view">
                        <img src="./img/icons/block.png" alt="sort" id="sort-block">
                        <img src="./img/icons/horizontal.png" alt="sort" id="sort-hor">
                    </div>
                </div>

                <ul class="pagination">
                    <li> <a href="#" >1</a></li>
                    <li> <a href="#">2</a></li>
                    <li> <a href="#" class="active">3</a></li>
                    <li> <a href="#">4</a></li>
                    <li> <a href="#">5</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- КОНЕЦ ТОВАРОВ -->

    <!-- НАЧАЛО ФУТЕРА -->
    <footer class="footer">
        <div class="content">
            <ul class="logo">
                <li> <a href="#" class="exception"><img src="./img/logo.svg" alt="logo"></a></li>
                <li> <a href="#" class="exception"><span>Политика конфиденциальности</span></a></li>
            </ul>
            <ul>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Канцелярия</a></li>
                <li><a href="#">Хозтовар</a></li>
                <li><a href="#">Мебель</a></li>
            </ul>
            <ul>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Оплата</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">О компании</a></li>
            </ul>
            <ul>
                <li><a href="#">Задать вопрос</a></li>
                <li><a href="#" class="exception tel"><span>123123</span></a></li>
                <li><a href="#" class="exception email"><span>asdasd@mail.ru</span></a></li>
            </ul>
        </div>
    </footer>
    <!-- КОНЕЦ ФУТЕРА -->

    <!-- СКРИПТ ДЛЯ СКРОЛА, ЧТОБЫ КНОПКИ РАБОТАЛИ -->
    <script>
        let elmentWidth;
        let scrolls = document.querySelectorAll('.slider_header');
        scrolls.forEach(function (element)
        {
            element.querySelector('.slide_right').addEventListener('click', function()
            {
                elmentWidth = element.nextElementSibling.children[0].offsetWidth + 20;
                element.nextElementSibling.scrollTo(element.nextElementSibling.scrollLeft + elmentWidth, 0);
            });
            element.querySelector('.slide_left').addEventListener('click', function()
            {
                elmentWidth = element.nextElementSibling.children[0].offsetWidth + 20;
                element.nextElementSibling.scrollTo(element.nextElementSibling.scrollLeft - elmentWidth, 0);
            });
        });
    </script>
    <!-- КОНЕЦ СКРИПТА ДЛЯ СКРОЛА-->
</body>

</html>