<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Главная </title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/product.css">
    <link rel="stylesheet" href="./css/scroll.css">
    <link rel="stylesheet" href="./css/footer.css">
</head>

<body>

    <!-- ХЕАДЕР -->
    <header class="header">
        <div class="content">
            <div class="menu">
                <a href="#"><img src="./img/logo.svg" alt="logo"></a>
                <ul>
                    <li> <a href="#">Доставка</a> </li>
                    <li> <a href="#">Оплата</a> </li>
                    <li> <a href="#">Контакт</a> </li>
                    <li> <a href="#">Задать вопрос</a> </li>
                    <li> <a href="#">О компании</a> </li>
                    <li> <a href="#" class="tel">8-495-380-42-88</a> </li>
                </ul>
            </div>
            <div class="nav">
                <button class="catalog" id="catalog"> <span>|||</span> КАТАЛОГ ТОВАРОВ</button>

                <div class="expand-catalog hide">
                    <a class="cat_1" href="#"> <img src="./img/percent.svg">
                        <p> Акции и скидки </p>
                    </a>
                    <a class="cat_1" href="#"> <img src="./img/clip.svg">
                        <p>Концелярии и товары</p><span>&#62;</span>
                    </a>
                    <div class='expand-cat_2 hide'>
                        <ul>
                            <li><span>1</span></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                        </ul>
                    </div>
                    <a class="cat_1" href="#"> <img src="./img/bucket.svg"><p>Хозтовары</p><span>&#62;</span></a>
                    <div class='expand-cat_2 hide'>
                        <ul>
                            <li><span>2</span></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                        </ul>
                    </div>
                    <a class="cat_1" href="#"> <img src="./img/furniture.svg"><p>Мебель</p><span>&#62;</span></a>
                    <div class='expand-cat_2 hide'>
                        <ul>
                            <li><span>3</span></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                        </ul>
                    </div>
                </div>

                <form action="#">
                    <input type="search" placeholder="Поиск...">
                    <button> <img src="./img/search.svg" alt="search"> </button>
                </form>
                <ul>
                    <li><a href="#"><img src="./img/favourite.svg" alt="favorite"></a></li>
                    <li><a href="#"><img src="./img/cart.svg" alt="cart"></a></li>
                    <li class="account"><a href="#"><img src="./img/account.svg" alt="account"><p>Войти</p></a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- КОНЕЦ ХЕАДЕРА -->

    <!-- ТОВАР -->
    <div class="content">
        <div class="cat_fold"> 
            <p class="catalog_expand_button"> Каталог</p>
            <a href="#"> &frasl; Канцелярские товары </a>
            <p> <span> &frasl; Бумага для печати </span> </p>
        </div>
        <div class="product_info">
            <div class="pictures">
                <img src="./../resource/img/products/product.jpg" alt="" class="big" style="order: -1;">
                <img src="./../resource/img/products/product2.jpg" alt="" class="little">
                <img src="./../resource/img/products/product3.jpg" alt="" class="little">
                <img src="./../resource/img/products/product4.jpg" alt="" class="little">
                <img src="./../resource/img/products/product5.jpg" alt="" class="little">
            </div>
            <div class="info">
                <h2>SvetoCopy CLASSIC бумага для печати формат А4 бумага для печати формат А4</h2>
                <div class="detail">
                     <p>Артикул <span>352698</span></p>
                     <p>В наличии <span>500</span></p>   
                     <p>Бренд: <span>SVETOCOPY</span></p> 
                </div>
                <div class="features">
                    <p class="feature">Формат А4</p>
                    <p class="feature">Класс А</p>
                    <p class="feature">Плотность 80 г/м2</p>
                    <p class="feature">Листов в пачке 500 шт</p>
                    <p class="feature">Листов в пачке 500 шт</p>
                    <p class="feature">Формат А4</p>
                    <p class="feature">Класс А</p>
                    <p class="feature">Плотность 80 г/м2</p>
                    <p class="feature">Листов в пачке 500 шт</p>
                    <p class="feature">Листов в пачке 500 шт</p>
                </div>
            </div>
            <div class="act">
                <p class="old-price">123p</p>
                <p class="new-price">322p</p>
                <p class="available">есть в наличии</p>
                <p class="brand">БРЕНД: <span>SVETOCOPY</span></p>
                <form action="#">
                    <input type="number" name="" id="" min="1" max="999">
                    <input type="submit" value="в корзину">
                </form>
            </div>
        </div>
    </div>
    <script>
        //img
        let puctires = document.querySelectorAll('.product_info .pictures img');
        for (let i = 0; i < puctires.length; i++)
        {
            puctires[i].addEventListener('click', function()
            {
                showImage(i)
            });
        }
        function showImage(param)
        {
            for (let j = 0; j < puctires.length; j++) 
            {
                if (param != j) 
                {
                    puctires[j].style.order = 'unset';
                    puctires[j].classList.remove('big');
                    puctires[j].classList.add('little');

                } 
                else 
                {
                    puctires[j].style.order = '-1';
                    puctires[j].classList.add('big');
                    puctires[j].classList.remove('little');
                }
            }
        }

        //filters
        let allFeature = document.querySelectorAll('.features .feature');
        let buttoCreated = false;
        for (let i = 0; i < allFeature.length; i++)
        {
            if (i > 5)
            {
                allFeature[i].style.display = 'none';
                
                if (buttoCreated == false)
                {
                    let showAll = document.createElement('p');
                    showAll.textContent = "Больше характеристик";
                    showAll.classList.add('feature_button');
                    let isShow = false;
                    showAll.addEventListener('click', function()
                    {
                        if (isShow == false)
                        {
                            for (let i = 0; i < allFeature.length; i++)
                            {
                                if (i > 5)
                                {
                                    allFeature[i].style.display = 'block';
                                }   
                            }
                            isShow = true;
                            showAll.textContent = "Скрыть";
                        }
                        else
                        {
                            for (let i = 0; i < allFeature.length; i++)
                            {
                                if (i > 5)
                                {
                                    allFeature[i].style.display = 'none';
                                }   
                            }
                            isShow = false;
                            showAll.textContent = "Больше характеристик";
                        }
                    });
                    allFeature[i].parentElement.appendChild(showAll);
                    buttoCreated = true;
                }
            }
        }
    </script>
    <!-- КОНЕЦ ТОВАРА -->

    <!-- СКРИПТ ДЛЯ МЕНЮ В ХЕАДЕРЕ -->
    <script id="catalog_popup">
        document.querySelector('#catalog').addEventListener('click', function () 
        {
            if (document.querySelector('.expand-catalog').classList.contains('hide')) 
            {
                document.querySelector('.expand-catalog').classList.remove('hide')
            } 
            else 
            {
                document.querySelector('.expand-catalog').classList.add('hide')
            }
        });

        document.querySelectorAll('.cat_1').forEach(function (element) 
        {
            element.addEventListener('mouseenter', function () 
            {
                if (element.nextElementSibling.classList.contains('expand-cat_2')) 
                {
                    element.nextElementSibling.classList.remove('hide');
                }
            });

            element.addEventListener('mouseleave', function () 
            {
                if (element.nextElementSibling.classList.contains('expand-cat_2')) 
                {
                    element.nextElementSibling.classList.add('hide');
                }
            });
        });
    </script>
    <!-- КОНЦА СКРИПТА ДЛЯ МЕНЮ В ХЕАДЕРЕ-->

    <!-- СЛАЙДЕР С ПРОДУКТАМИ -->
    <div class="content">
        <div class="slider_header">
            <h2> Похожие товары </h2> 
            <div class="slide_left">&#60;</div>
            <div class="slide_right">&#62;</div>
        </div>
        <div class="scroll">
            <div class="product">
                <a href="#"><img src="./img/product.jpg" alt="фотография продукта"></a>
                <p class="product-name">Имя продуктв</p>
                <p class="old-price">500р</p>
                <p class="new-price">375р</p>
                <p class="sale">25</p>
                <a href="#" class="cart"> <img src="./img/cart.svg" alt=""></a>
                <a href="#" class="favourite"> <img src="./img/favourite.svg" alt=""></a>
            </div>
            <div class="product">
                <a href="#"><img src="./img/product.jpg" alt="фотография продукта"></a>
                <p class="product-name">Имя продуктв</p>
                <p class="old-price">500р</p>
                <p class="new-price">375р</p>
                <p class="sale">25</p>
                <a href="#" class="cart"> <img src="./img/cart.svg" alt=""></a>
                <a href="#" class="favourite"> <img src="./img/favourite.svg" alt=""></a>
            </div>
            <div class="product">
                <a href="#"><img src="./img/product.jpg" alt="фотография продукта"></a>
                <p class="product-name">Имя продуктв</p>
                <p class="old-price">500р</p>
                <p class="new-price">375р</p>
                <p class="sale">25</p>
                <a href="#" class="cart"> <img src="./img/cart.svg" alt=""></a>
                <a href="#" class="favourite"> <img src="./img/favourite.svg" alt=""></a>
            </div>
            <div class="product">
                <a href="#"><img src="./img/product.jpg" alt="фотография продукта"></a>
                <p class="product-name">Имя продуктв</p>
                <p class="old-price">500р</p>
                <p class="new-price">375р</p>
                <p class="sale">25</p>
                <a href="#" class="cart"> <img src="./img/cart.svg" alt=""></a>
                <a href="#" class="favourite"> <img src="./img/favourite.svg" alt=""></a>
            </div>
            <div class="product">
                <a href="#"><img src="./img/product.jpg" alt="фотография продукта"></a>
                <p class="product-name">Имя продуктв</p>
                <p class="old-price">500р</p>
                <p class="new-price">375р</p>
                <p class="sale">25</p>
                <a href="#" class="cart"> <img src="./img/cart.svg" alt=""></a>
                <a href="#" class="favourite"> <img src="./img/favourite.svg" alt=""></a>
            </div>
            <div class="product">
                <a href="#"><img src="./img/product.jpg" alt="фотография продукта"></a>
                <p class="product-name">Имя продуктв</p>
                <p class="old-price">500р</p>
                <p class="new-price">375р</p>
                <p class="sale">25</p>
                <a href="#" class="cart"> <img src="./img/cart.svg" alt=""></a>
                <a href="#" class="favourite"> <img src="./img/favourite.svg" alt=""></a>
            </div>
        </div>
    </div>
    <!-- КОНЕЦ СЛАЙДЕРА С ПРОДУКТАМИ -->

    <!-- СЛАЙДЕР С БРЕНДАМИ -->
    <div class="content">
        <div class="slider_header">
            <h2> Бренды </h2> 
            <div class="slide_left">&#60;</div>
            <div class="slide_right">&#62;</div>
        </div>
        <div class="scroll">
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
            <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
        </div>
    </div>
    <!-- КОНЕЦ СЛАЙДЕРА С БРЕНДАМИ -->

    <!-- НАЧАЛО ФУТЕРА -->
    <footer class="footer">
        <div class="content">
            <ul class="logo">
                <li> <a href="#" class="exception"><img src="./img/logo.svg" alt="logo"></a></li>
                <li> <a href="#" class="exception"><span>Политика конфиденциальности</span></a></li>
            </ul>
            <ul>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Канцелярия</a></li>
                <li><a href="#">Хозтовар</a></li>
                <li><a href="#">Мебель</a></li>
            </ul>
            <ul>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Оплата</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">О компании</a></li>
            </ul>
            <ul>
                <li><a href="#">Задать вопрос</a></li>
                <li><a href="#" class="exception tel"><span>123123</span></a></li>
                <li><a href="#" class="exception email"><span>asdasd@mail.ru</span></a></li>
            </ul>
        </div>
    </footer>
    <!-- КОНЕЦ ФУТЕРА -->

    <!-- СКРИПТ ДЛЯ СКРОЛА, ЧТОБЫ КНОПКИ РАБОТАЛИ -->
    <script>
        let elmentWidth;
        let scrolls = document.querySelectorAll('.slider_header');
        scrolls.forEach(function (element)
        {
            element.querySelector('.slide_right').addEventListener('click', function()
            {
                elmentWidth = element.nextElementSibling.children[0].offsetWidth + 20;
                element.nextElementSibling.scrollTo(element.nextElementSibling.scrollLeft + elmentWidth, 0);
            });
            element.querySelector('.slide_left').addEventListener('click', function()
            {
                elmentWidth = element.nextElementSibling.children[0].offsetWidth + 20;
                element.nextElementSibling.scrollTo(element.nextElementSibling.scrollLeft - elmentWidth, 0);
            });
        });
    </script>
    <!-- КОНЕЦ СКРИПТА ДЛЯ СКРОЛА-->
</body>

</html>