<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Главная </title>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/products.css">
    <link rel="stylesheet" href="./css/scroll.css">
    <link rel="stylesheet" href="./css/footer.css">
    <script src="./../resource/js/nouislider.js"></script>
    <link rel="stylesheet" href="./../resource/css/nouislider.css">
</head>

<body>

    <!-- ХЕАДЕР -->
    <header class="header">
        <div class="content">
            <div class="menu">
                <a href="#"><img src="./img/logo.svg" alt="logo"></a>
                <ul>
                    <li> <a href="#">Доставка</a> </li>
                    <li> <a href="#">Оплата</a> </li>
                    <li> <a href="#">Контакт</a> </li>
                    <li> <a href="#">Задать вопрос</a> </li>
                    <li> <a href="#">О компании</a> </li>
                    <li> <a href="#" class="tel">8-495-380-42-88</a> </li>
                </ul>
            </div>
            <div class="nav">
                <button class="catalog" id="catalog"> <span>|||</span> КАТАЛОГ ТОВАРОВ</button>

                <div class="expand-catalog hide">
                    <a class="cat_1" href="#"> <img src="./img/percent.svg">
                        <p> Акции и скидки </p>
                    </a>
                    <a class="cat_1" href="#"> <img src="./img/clip.svg">
                        <p>Концелярии и товары</p><span>&#62;</span>
                    </a>
                    <div class='expand-cat_2 hide'>
                        <ul>
                            <li><span>1</span></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                        </ul>
                    </div>
                    <a class="cat_1" href="#"> <img src="./img/bucket.svg"><p>Хозтовары</p><span>&#62;</span></a>
                    <div class='expand-cat_2 hide'>
                        <ul>
                            <li><span>2</span></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                        </ul>
                    </div>
                    <a class="cat_1" href="#"> <img src="./img/furniture.svg"><p>Мебель</p><span>&#62;</span></a>
                    <div class='expand-cat_2 hide'>
                        <ul>
                            <li><span>3</span></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                            <li><a href="#">asdasd</a></li>
                        </ul>
                    </div>
                </div>

                <form action="#">
                    <input type="search" placeholder="Поиск...">
                    <button> <img src="./img/search.svg" alt="search"> </button>
                </form>
                <ul>
                    <li><a href="#"><img src="./img/favourite.svg" alt="favorite"></a></li>
                    <li><a href="#"><img src="./img/cart.svg" alt="cart"></a></li>
                    <li class="account"><a href="#"><img src="./img/account.svg" alt="account"><p>Войти</p></a></li>
                </ul>
            </div>
        </div>
    </header>
    <!-- КОНЕЦ ХЕАДЕРА -->
    
    <!-- ТОВАРЫ -->
    <div class="content">
        <div class="catalg_view">
            <div class="filters">
                <div class="price-filter"> 
                    <p>Цена:</p>
                    <div class="price-input">
                        <input title="минимальная цена" id="price-min">
                        <p>-</p>
                        <input title="максимальная цена" id="price-max">
                    </div>
                    <div id="slider"></div>
                </div>
            </div>
            <script>
                let slider = document.getElementById('slider');
                let priceMin = document.getElementById('price-min');
                let priceMax = document.getElementById('price-max');

                noUiSlider.create(slider, 
                {
                    start: [20, 80],
                    connect: true,
                    range: 
                    {
                        'min': 0,
                        'max': 100
                    },
                    step: 10
                });

                slider.noUiSlider.on('update', function (values, handle) 
                {
                    priceMin.value = values[0];
                });
                priceMin.addEventListener('change', function () 
                {
                    slider.noUiSlider.set([this.value, slider.noUiSlider.get()[1]]);
                });

                slider.noUiSlider.on('update', function (values, handle) 
                {
                    priceMax.value = values[1];
                })
                priceMax.addEventListener('change', function () 
                {
                    slider.noUiSlider.set([slider.noUiSlider.get()[0], this.value]);
                });
            </script>
            <div class="products">
                <!-- СЛАЙДЕР С БРЕНДАМИ -->
                    <div class="slider_header">
                        <h2> Бренды </h2> 
                        <div class="slide_left">&#60;</div>
                        <div class="slide_right">&#62;</div>
                    </div>
                    <div class="scroll">
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                        <a href="#" class="brand"><img src="./img/brands/1.jpg"></a>
                    </div>
                <!-- КОНЕЦ СЛАЙДЕРА С БРЕНДАМИ -->

                <div class="sort">
                    <p>
                        Сортировка: 
                        <select>
                            <option value="10">По популярности</option>
                            <option value="30">Сначала дешевые</option>
                            <option value="50">Сначала дорогие</option>
                        </select>
                    </p>

                    <p>
                        Товаров на странице: 
                        <select>
                            <option value="10">10</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </p>

                    <div class="view">
                        <img src="./img/icons/block.png" alt="sort" id="sort-block">
                        <img src="./img/icons/horizontal.png" alt="sort" id="sort-hor">
                    </div>
                </div>

                <ul class="pagination">
                    <li> <a href="#" >1</a></li>
                    <li> <a href="#">2</a></li>
                    <li> <a href="#" class="active">3</a></li>
                    <li> <a href="#">4</a></li>
                    <li> <a href="#">5</a></li>
                </ul>

                <div class="list-products">
                    <div class="product box">
                        <a href="#"><img src="./img/product.jpg" alt="фотография продукта"></a>
                        <p class="product-name">Имя продуктв</p>
                        <p class="old-price">500р</p>
                        <p class="new-price">375р</p>
                        <p class="sale">25</p>
                        <a href="#" class="cart"> <img src="./img/cart.svg" alt=""></a>
                        <a href="#" class="favourite"> <img src="./img/favourite.svg" alt=""></a>
                    </div>
                    <div class="product box">
                            <a href="#"><img src="./img/product.jpg" alt="фотография продукта"></a>
                            <p class="product-name">Имя продуктв</p>
                            <p class="old-price">500р</p>
                            <p class="new-price">375р</p>
                            <p class="sale">25</p>
                            <a href="#" class="cart"> <img src="./img/cart.svg" alt=""></a>
                            <a href="#" class="favourite"> <img src="./img/favourite.svg" alt=""></a>
                        </div>
                        <div class="product box">
                                <a href="#"><img src="./img/product.jpg" alt="фотография продукта"></a>
                                <p class="product-name">Имя продуктв</p>
                                <p class="old-price">500р</p>
                                <p class="new-price">375р</p>
                                <p class="sale">25</p>
                                <a href="#" class="cart"> <img src="./img/cart.svg" alt=""></a>
                                <a href="#" class="favourite"> <img src="./img/favourite.svg" alt=""></a>
                            </div>
                            <div class="product box">
                                    <a href="#"><img src="./img/product.jpg" alt="фотография продукта"></a>
                                    <p class="product-name">Имя продуктв</p>
                                    <p class="old-price">500р</p>
                                    <p class="new-price">375р</p>
                                    <p class="sale">25</p>
                                    <a href="#" class="cart"> <img src="./img/cart.svg" alt=""></a>
                                    <a href="#" class="favourite"> <img src="./img/favourite.svg" alt=""></a>
                                </div>
                                <div class="product box">
                                        <a href="#"><img src="./img/product.jpg" alt="фотография продукта"></a>
                                        <p class="product-name">Имя продуктв</p>
                                        <p class="old-price">500р</p>
                                        <p class="new-price">375р</p>
                                        <p class="sale">25</p>
                                        <a href="#" class="cart"> <img src="./img/cart.svg" alt=""></a>
                                        <a href="#" class="favourite"> <img src="./img/favourite.svg" alt=""></a>
                                    </div>
                                    <div class="product box">
                                            <a href="#"><img src="./img/product.jpg" alt="фотография продукта"></a>
                                            <p class="product-name">Имя продуктв</p>
                                            <p class="old-price">500р</p>
                                            <p class="new-price">375р</p>
                                            <p class="sale">25</p>
                                            <a href="#" class="cart"> <img src="./img/cart.svg" alt=""></a>
                                            <a href="#" class="favourite"> <img src="./img/favourite.svg" alt=""></a>
                                        </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let sortBlock = document.querySelector('#sort-block');
        let sortHor = document.querySelector('#sort-hor');
        let listProduct = document.querySelector('.list-products');
        
        function setBlock()
        {
            listProduct.style.display = 'grid';
            listProduct.style.gridGap = '15px';
            listProduct.style.gridTemplateColumns = 'repeat(auto-fit, minmax(300px, 1fr))';
            sortBlock.classList.add('active');
            sortHor.classList.remove('active');
        }

        function setHor()
        {
        }

        sortBlock.addEventListener('click', function()
        {
            setBlock();
        });

        sortHor.addEventListener('click', function()
        {
            setHor();
        });

        setBlock();
    </script>
    <!-- КОНЕЦ ТОВАРОВ -->

    <!-- НАЧАЛО ФУТЕРА -->
    <footer class="footer">
        <div class="content">
            <ul class="logo">
                <li> <a href="#" class="exception"><img src="./img/logo.svg" alt="logo"></a></li>
                <li> <a href="#" class="exception"><span>Политика конфиденциальности</span></a></li>
            </ul>
            <ul>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Канцелярия</a></li>
                <li><a href="#">Хозтовар</a></li>
                <li><a href="#">Мебель</a></li>
            </ul>
            <ul>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Оплата</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">О компании</a></li>
            </ul>
            <ul>
                <li><a href="#">Задать вопрос</a></li>
                <li><a href="#" class="exception tel"><span>123123</span></a></li>
                <li><a href="#" class="exception email"><span>asdasd@mail.ru</span></a></li>
            </ul>
        </div>
    </footer>
    <!-- КОНЕЦ ФУТЕРА -->

    <!-- СКРИПТ ДЛЯ СКРОЛА, ЧТОБЫ КНОПКИ РАБОТАЛИ -->
    <script>
        let elmentWidth;
        let scrolls = document.querySelectorAll('.slider_header');
        scrolls.forEach(function (element)
        {
            element.querySelector('.slide_right').addEventListener('click', function()
            {
                elmentWidth = element.nextElementSibling.children[0].offsetWidth + 20;
                element.nextElementSibling.scrollTo(element.nextElementSibling.scrollLeft + elmentWidth, 0);
            });
            element.querySelector('.slide_left').addEventListener('click', function()
            {
                elmentWidth = element.nextElementSibling.children[0].offsetWidth + 20;
                element.nextElementSibling.scrollTo(element.nextElementSibling.scrollLeft - elmentWidth, 0);
            });
        });
    </script>
    <!-- КОНЕЦ СКРИПТА ДЛЯ СКРОЛА-->
</body>

</html>